name: Update flake.lock directly to main

on:
  schedule:
    # fires at 02:19 and 14:19
    - cron: "19 2 * * *"
    - cron: "19 14 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v12
      - uses: DeterminateSystems/magic-nix-cache-action@v7

      - name: Update flake.lock
        run: nix flake update

      - name: Commit & push if changed
        run: |
          if git diff --quiet -- flake.lock; then
            echo "No changes."
            exit 0
          fi

          git config user.name "raino-bot"
          git config user.email "nixos-raino-bot@users.noreply.github.com"

          git add flake.lock
          git commit -m "chore: update flake.lock"
          git push
